// colors
// $primary : rgb(109, 28, 28);
// $secondary-color : rgb(52, 223, 52);
$primary : #0049ee;
$secondary-color : #0049ee;
$primary-text : rgba(0,0,0,0.85);
$secondary-text : #ffffff;
$fade-text : rgba(0,0,0,0.7);

// fonts
$primary-font : 'Muli', 'sans-serif';